In [2]:
import f_functions as f
import pandas as pd
import numpy as np

In [3]:
local = True
if local:
    import os
    os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/macbook/Desktop/Rabbit/key/key.json"

# Load dataset for test

In [4]:
path_dataset = "test_census.csv"
df = pd.read_csv(path_dataset)
x = df.drop(["Unnamed: 0","income_bracket","dataframe"],axis=1)
y = list(df["income_bracket"])

data_to_predict = x.iloc[0:].values.tolist()
df

,Unnamed: 0,age,education_num,hours_per_week,income_bracket,dataframe,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White
0,18,0.479452,0.266667,0.397959,1,prediction,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,50,0.232877,0.400000,0.071429,1,prediction,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,53,0.410959,0.400000,0.397959,1,prediction,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,57,0.356164,0.400000,0.244898,1,prediction,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,58,0.506849,0.400000,0.428571,1,prediction,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,15968,0.246575,0.533333,0.602041,1,prediction,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
1559,15978,0.410959,0.533333,0.377551,0,prediction,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1560,15983,0.095890,0.533333,0.397959,1,prediction,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1561,15984,0.205479,0.533333,0.397959,1,prediction,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1562,15989,0.054795,0.533333,0.397959,1,prediction,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Inference

In [5]:
response = f.predict_json(project="interno-rabbit-academy-qa", 
                        region="us-central1", 
                        model="juan_test", 
                        instances=data_to_predict, 
                        version="v01")

In [6]:
# transform probabilities to 1 or 0 values
predicted = [1 if r[0]>=0.5 else 0 for r in response]

In [7]:
pd.DataFrame({"predicted":predicted, "real":y})

      predicted  real
0             1     1
1             1     1
2             1     1
3             1     1
4             1     1
...         ...   ...
1558          1     1
1559          1     0
1560          1     1
1561          1     1
1562          1     1

[1563 rows x 2 columns]

# Calculate Acc in test

In [16]:
err = np.sum(np.array(predicted)-np.array(y))
N = len(x) 
print(f"Predicciones correctas -------->    {N-err} de {N}")
print(f"Acierto en test ---------------->   {(N-err)/N*100:.2f}%")

predicciones correctas -------->    1434 de 1563
Acierto en test ---------------->   91.75%